ASPNETCORE_ENVIRONMENT=Production

# Search Service
QDRANT__BASEURL=https://qdrant.steel-designer-engineer.ru
QDRANT__DEFAULTCOLLECTIONNAME=MyCollection
QDRANT__DEFAULTVECTORSIZE=768

OLLAMA__BASEURL=http://72.56.72.77:30823
OLLAMA__MODEL=nomic-embed-text

# Secrets should be provided via env/secret store, not committed
# QDRANT__APIKEY=
# OLLAMA__USERNAME=
# OLLAMA__PASSWORD=
