################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/OTUS.Pet.Education/.vs/OTUS.Pet.Education/CopilotIndices/18.0.927.32057/CodeChunks.db
/.vs
/OTUS.Pet.Education/.vs
